<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <a href="#" class="navbar-brand">Media Manager</a>
    <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/videos">Videos</a>
        <a class="nav-item nav-link" routerLink="/pictures">Pictures</a>
        <a class="nav-item nav-link" routerLink="/files">Files</a>
    </div>
    <div class="navbar-nav ml-auto" >
        <a class="nav-item nav-link" routerLink="/profile">{{ currentUser.username }}</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="https://github.com/paper-driver" target="_top">Github - paper-driver</a>
    </p>
</div>