<div class="card mt-4">
    <h4 class="card-header">List of pending Role update requests</h4>
    <div class="card-body">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container .mat-column-token matColumnDef="token">
                    <th mat-header-cell *matHeaderCellDef> Token </th>
                    <td mat-cell *matCellDef="let request"> {{request.token}} </td>
                </ng-container>

                <ng-container .mat-column-username matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let request"> {{request.username}} </td>
                </ng-container>

                <ng-container .mat-column-email matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let request"> {{request.email}} </td>
                </ng-container>

                <ng-container .mat-column-roles matColumnDef="pendingRoles">
                    <th mat-header-cell *matHeaderCellDef> Requested Roles </th>
                    <td mat-cell *matCellDef="let request"> {{request.pendingRoles}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
