/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Angular table theme color */
@import '@angular/material/prebuilt-themes/purple-green.css';

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

a { cursor: pointer; }
